### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [124]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding = "utf-8")

## Player Count

* Display the total number of players

In [125]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]

num_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [126]:
purchasing_analysis_total = pd.DataFrame({
    "No. of Purchases":[purchase_data["Purchase ID"].count()],
    "No. of Unique Items":[len(purchase_data["Item ID"].unique())],
    "Average Purchase Price":['${:,.2f}'.format(purchase_data["Price"].mean())],
    "Purchase Revenue":['${:,.2f}'.format(purchase_data["Price"].sum())]
})

purchasing_analysis_total

,No. of Purchases,No. of Unique Items,Average Purchase Price,Purchase Revenue
0,780,179,$3.05,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [127]:
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / num_players
gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals,
                                    "Percentage of Players": gender_demographics_percents
                                    })

gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:,.2%}".format)

gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
gender_group = purchase_data.groupby(["Gender"])

purchasing_analysis_gender = pd.DataFrame({"Purchase Count": gender_group["Purchase ID"].count(),
                                        "Average Purchase Price": gender_group["Price"].mean(),
                                        "Total Purchase Value": gender_group["Price"].sum(),
                                        "Avg Total Purchase per Person": gender_group["Price"].sum() / player_demographics["Gender"].value_counts()
                                        })

purchasing_analysis_gender['Average Purchase Price'] = purchasing_analysis_gender['Average Purchase Price'].map('${0:,.2f}'.format)
purchasing_analysis_gender['Total Purchase Value'] = purchasing_analysis_gender['Total Purchase Value'].map('${0:,.2f}'.format)
purchasing_analysis_gender['Avg Total Purchase per Person'] = purchasing_analysis_gender['Avg Total Purchase per Person'].map('${0:,.2f}'.format)

purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [129]:
age_bins = [0,9,14,19,24,29,34,39,45]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_labels)

age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players

age_demographics = pd.DataFrame({"Total Count": age_demographics_totals,
                                    "Percentage of Players": age_demographics_percents
                                    })

age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:,.2%}".format)

age_demographics = age_demographics.sort_index()
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [130]:
age_group = purchase_data.groupby(["Age"])

age_bins = [0,9,14,19,24,29,34,39,45]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_labels)

purchasing_analysis_age = pd.DataFrame({"Purchase Count": age_group["Purchase ID"].count(),
                                        "Average Purchase Price": age_group["Price"].mean(),
                                        "Total Purchase Value": age_group["Price"].sum(),
                                        "Avg Total Purchase per Person": age_group["Price"].sum() / player_demographics["Age"].value_counts()
                                        })

purchasing_analysis_age['Average Purchase Price'] = purchasing_analysis_age['Average Purchase Price'].map('${0:,.2f}'.format)
purchasing_analysis_age['Total Purchase Value'] = purchasing_analysis_age['Total Purchase Value'].map('${0:,.2f}'.format)
purchasing_analysis_age['Avg Total Purchase per Person'] = purchasing_analysis_age['Avg Total Purchase per Person'].map('${0:,.2f}'.format)

purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
7,9,$3.65,$32.89,$4.70
8,8,$3.25,$25.97,$4.33
9,6,$3.04,$18.27,$4.57
10,9,$3.54,$31.83,$4.55
11,7,$2.68,$18.79,$3.13
12,6,$2.63,$15.80,$3.95
13,4,$2.36,$9.45,$3.15
14,2,$3.46,$6.91,$3.46
15,35,$3.02,$105.65,$4.06
16,30,$3.02,$90.56,$3.77
17,22,$2.93,$64.48,$3.39
18,26,$3.16,$82.22,$3.92
19,23,$3.04,$69.98,$4.12
20,99,$3.17,$314.32,$4.56
21,62,$2.92,$180.74,$4.20
22,70,$2.96,$206.85,$4.22
23,67,$3.01,$201.93,$4.12
24,67,$3.14,$210.22,$4.38
25,59,$3.08,$181.90,$4.23
26,14,$2.87,$40.19,$3.65
27,10,$2.72,$27.23,$3.03
28,5,$1.69,$8.45,$2.11
29,13,$2.71,$35.23,$3.52
30,35,$3.15,$110.32,$4.41
31,7,$3.44,$24.05,$4.81
32,8,$2.84,$22.69,$3.78
33,14,$2.49,$34.81,$3.87
34,9,$2.46,$22.13,$3.16
35,14,$3.72,$52.03,$5.20
36,5,$2.53,$12.66,$2.53
37,7,$3.64,$25.51,$5.10
38,9,$3.79,$34.15,$6.83
39,6,$3.89,$23.32,$3.89
40,6,$2.79,$16.71,$3.34
41,2,$3.27,$6.54,$3.27
42,1,$3.93,$3.93,$3.93
43,1,$4.00,$4.00,$4.00
44,2,$2.68,$5.36,$2.68
45,1,$1.70,$1.70,$1.70

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame