### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding = "utf-8")

## Player Count

* Display the total number of players

In [3]:
player_count = purchase_data["SN"].value_counts()

player_count

Lisosia93      5
Iral74         4
Idastidru52    4
Lisim78        3
Aina42         3
              ..
Hilaerin92     1
Ceoral34       1
Lisista63      1
Layjask75      1
Sisur91        1
Name: SN, Length: 576, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchasing_analysis_total = pd.DataFrame({
    "No. of Purchases":[purchase_data["Purchase ID"].count()],
    "No. of Unique Items":[len(purchase_data["Item ID"].unique())],
    "Average Purchase Price":['${:,.2f}'.format(purchase_data["Price"].mean())],
    "Purchase Revenue":['${:,.2f}'.format(purchase_data["Price"].sum())]
})

purchasing_analysis_total

,No. of Purchases,No. of Unique Items,Average Purchase Price,Purchase Revenue
0,780,179,$3.05,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
gender_demographics_totals = purchase_data["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / player_count

gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals, "Percentage of Players": gender_demographics_percents})
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:,.2%}".format)

gender_demographics

               Total Count Percentage of Players
Adairialis76           NaN                  nan%
Adastirin33            NaN                  nan%
Aeda94                 NaN                  nan%
Aela59                 NaN                  nan%
Aelaria33              NaN                  nan%
...                    ...                   ...
Yathecal82             NaN                  nan%
Yathedeu43             NaN                  nan%
Yoishirrala98          NaN                  nan%
Zhisrisu83             NaN                  nan%
Zontibe81              NaN                  nan%

[579 rows x 2 columns]


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_group = purchase_data.groupby(["Gender"])
total_purchase_value = gender_group["Price"].sum()

purchasing_analysis_gender = pd.DataFrame({"Purchase Count": gender_group["Purchase ID"].count(),
                                        "Average Purchase Price": gender_group["Price"].mean(),
                                        "Total Purchase Value": gender_group["Price"].sum(),
                                        "Avg Total Purchase per Person": total_purchase_value / player_count
                                        })

purchasing_analysis_gender['Average Purchase Price'] = purchasing_analysis_gender['Average Purchase Price'].map('${0:,.2f}'.format)
purchasing_analysis_gender['Total Purchase Value'] = purchasing_analysis_gender['Total Purchase Value'].map('${0:,.2f}'.format)
purchasing_analysis_gender['Avg Total Purchase per Person'] = purchasing_analysis_gender['Avg Total Purchase per Person'].map('${0:,.2f}'.format)

purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Adairialis76,NaN,$nan,$nan,$nan
Adastirin33,NaN,$nan,$nan,$nan
Aeda94,NaN,$nan,$nan,$nan
Aela59,NaN,$nan,$nan,$nan
Aelaria33,NaN,$nan,$nan,$nan
...,...,...,...,...
Yathecal82,NaN,$nan,$nan,$nan
Yathedeu43,NaN,$nan,$nan,$nan
Yoishirrala98,NaN,$nan,$nan,$nan
Zhisrisu83,NaN,$nan,$nan,$nan
Zontibe81,NaN,$nan,$nan,$nan

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame