### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding = "utf-8")

## Player Count

* Display the total number of players

In [49]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]

num_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
purchasing_analysis_total = pd.DataFrame({
    "No. of Purchases":[purchase_data["Purchase ID"].count()],
    "No. of Unique Items":[len(purchase_data["Item ID"].unique())],
    "Average Purchase Price":['${:,.2f}'.format(purchase_data["Price"].mean())],
    "Purchase Revenue":['${:,.2f}'.format(purchase_data["Price"].sum())]
})

purchasing_analysis_total

,No. of Purchases,No. of Unique Items,Average Purchase Price,Purchase Revenue
0,780,179,$3.05,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [44]:
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / num_players
gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals,
                                    "Percentage of Players": gender_demographics_percents
                                    })

gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:,.2%}".format)

gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
gender_group = purchase_data.groupby(["Gender"])

purchasing_analysis_gender = pd.DataFrame({"Purchase Count": gender_group["Purchase ID"].count(),
                                        "Average Purchase Price": gender_group["Price"].mean(),
                                        "Total Purchase Value": gender_group["Price"].sum(),
                                        "Avg Total Purchase per Person": gender_group["Price"].sum() / player_demographics["Gender"].value_counts()
                                        })

purchasing_analysis_gender['Average Purchase Price'] = purchasing_analysis_gender['Average Purchase Price'].map('${0:,.2f}'.format)
purchasing_analysis_gender['Total Purchase Value'] = purchasing_analysis_gender['Total Purchase Value'].map('${0:,.2f}'.format)
purchasing_analysis_gender['Avg Total Purchase per Person'] = purchasing_analysis_gender['Avg Total Purchase per Person'].map('${0:,.2f}'.format)

purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [71]:
age_bins = [0,10,14,19,24,29,34,39,44]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(purchase_data["Age"], age_bins, labels=group_labels)

age_demographics_totals = player_demographics["Age"].value_counts()
age_demographics_percents = age_demographics_totals / num_players
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals,
                                    "Percentage of Players": age_demographics_percents
                                    })

age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:,.2%}".format)

age_demographics

    Total Count Percentage of Players
20           69                11.98%
23           49                 8.51%
22           49                 8.51%
24           48                 8.33%
21           43                 7.47%
25           43                 7.47%
15           26                 4.51%
30           25                 4.34%
16           24                 4.17%
18           21                 3.65%
17           19                 3.30%
19           17                 2.95%
26           11                 1.91%
35           10                 1.74%
29           10                 1.74%
27            9                 1.56%
33            9                 1.56%
10            7                 1.22%
34            7                 1.22%
7             7                 1.22%
8             6                 1.04%
39            6                 1.04%
32            6                 1.04%
11            6                 1.04%
38            5                 0.87%
31            5                 0.87%
36            5                 0.87%
37            5                 0.87%
40            5                 0.87%
12            4                 0.69%
28            4                 0.69%
9             4                 0.69%
13            3                 0.52%
44            2                 0.35%
41            2                 0.35%
14            2                 0.35%
42            1                 0.17%
43            1                 0.17%
45            1                 0.17%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame